<div id="header">
    <h1><%= @dojo.branch %></h1>
    <a href="/dojos/<%= @dojo.id %>/edit">Edit</a>
</div>

<p>Address: <%= @dojo.street %></p>
<p>City: <%= @dojo.city %></p>
<p>State: <%= @dojo.state %></p>